/* Reset de margenes y rellenos para todos los elementos */
* {
    margin: 0;
    padding: 0;
}



/* -------------HEADER-------------*/

/* Estilos del encabezado */
header {
    background-color: #212529;
    color: green;
    font-size: 30px;
}

header img {
    height: 100px;
    width: 350px;
    margin: 10px;
}

/* Estilos barra de navegacion */
.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: 1s;
}

.nav-bar {
    background-color: #C8D300;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    padding: 10px;   
}



/*-------------BODY-------------*/

body {
    background-color: black;
    flex-wrap: wrap;
}

/* Estilos encabezados */
h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: green;
    flex-flow: row wrap;
}

h2 {
    font-size: 30px;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

/* Estilos parrafos */
p {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(255, 255, 255);
    text-align: justify;
    justify-content: space-around;
}



/*-------------FOOTER-------------*/

footer {
     font-family: "Nunito Sans", sans-serif;
    color: white;
    size: 10px  ;
    justify-content: center;
    gap: 20px ;
    display: flex;
    padding: 20px;
    margin-top: 20px;
}

.redes {
    color: white;
    text-decoration: none;
    margin-top: 60px;
}

/* Efecto cambio de color */
.redes:hover {
    color: #0A58CA;
    transition: 1.5s;
}

/* Estilos para los iconos */
.redes img {
    width: 24px;
    margin-right: 5px;
}



/*-------------INDEX-------------*/

/* Imagen pagina de Inicio */
.index-img {
    height: 300px;
    width: 1150px;
    margin-left: 175px;
}

/* ----Carousel---- */
.carousel-item {
    width: 70vw;
    height: 85vh;
    margin-left: 15vw;
}

.carousel-item img {
    border-radius: 50px;
}


/* ----Media queries---- */
@media (max-width: 768px) {
    .carousel-item {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .cards-individuales {
        max-width: 100%;
    }

    .cards-index {
        padding: 20px;
    }
}

/* ----Cards index---- */
.cards-index {
    display: flex;
    justify-content: center;
}

.cards-individuales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 0 10px rgb(153, 195, 1);
    transition: transform 0.3s ease-in-out;
    height: 380px;
}

.cards-individuales:hover {
    transform: scale(1.05);
}

.card-title {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.cards-individuales p {
    color: white;
    text-align: justify;
    margin: 10px 0;
    min-height: 600px; 
}

/*-------------PRODUCTOS-------------*/

.section-productos img {
    height: 200px;  
    width: auto;
    object-fit: cover;  
    transition: transform 0.3s ease-in-out;
}

.section-productos img:hover {
    transform: scale(1.1);
}

.custom-shadow {
    box-shadow: 0 0 10px rgba(135, 225, 0, 0.782);
    background-color: black;
}

.custom-shadow p, .custom-shadow h5 {
    color: white;
}



/*-------------QUIENES SOMOS-------------*/

.quienes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Cards */
.card-quienes {
    display: flex;
    flex-direction: column; /* Asegura que los elementos dentro de la tarjeta se apilen verticalmente */
    align-items: center; /* Centra los elementos verticalmente */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd; /* Agrega un borde alrededor de cada tarjeta */
    border-radius: 10px; /* Redondea las esquinas de las tarjetas */
    max-width: 400px; /* Limita el ancho máximo de las tarjetas para un diseño más consistente */
    box-shadow: 0 0 10px rgb(153, 195, 1); /* Agrega una sombra sutil a las tarjetas */
}

.card-quienes img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes para que no se desborden de las tarjetas */
    height: 400px; /* Fija la altura de las imágenes */
    object-fit: cover; /* Mantiene la proporción y recorta la imagen para llenar el contenedor */
    border-radius: 8px; /* Redondea las esquinas de las imágenes */
}

.quienes-text {
    margin-top: 20px;
    text-align: center; /* Centra el texto dentro de la tarjeta */
}



/*-------------ASESORAMIENTO-------------*/

.asesoramiento {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    text-align: left;
}

.asesoramiento h1 {
    color: white;
}

.asesoramiento img {
    height: 80px;
    width: 80px;
    margin-right: 20px; 
}

/* ----Cards----*/
.card-text, .card-text ul, .card-text ul li, .card-subtitle {
    color: black;
}

.asesoramiento .row.row-cols-1.row-cols-md-3.g-4 {
    margin-top: 200px; 
}



/*-------------FORMULARIO-------------*/

.formulario {
    color: white;
}