/* Variables header */
/* -------------HEADER-------------*/
header {
  background-color: #212529;
  color: green;
  font-size: 30px;
}
header img {
  height: 100px;
  width: 350px;
  margin: 10px;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 1s;
  font-size: 22px;
}

.nav-bar {
  background-color: #C8D300;
  text-align: center;
  margin-bottom: 20px;
  justify-content: center;
  padding: 10px;
}

.nav-bar ul {
  justify-content: right;
}

/*-------------FOOTER-------------*/
footer {
  font-family: "Nunito Sans", sans-serif;
  color: white;
  size: 10px;
  justify-content: center;
  gap: 20px;
  display: flex;
  padding: 20px;
  margin-top: 50px;
}
footer .redes {
  color: white;
  text-decoration: none;
  margin-top: 60px;
}
footer .redes:hover {
  color: #0A58CA;
  transition: 1.5s;
}
footer .redes img {
  width: 24px;
  margin-right: 5px;
}

/* Variables header */
.cards-individuales {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgb(153, 195, 1);
  transition: transform 0.3s ease-in-out;
  height: 380px;
}
.cards-individuales:hover {
  transform: scale(1.05);
}
.cards-individuales .card-title {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.cards-individuales p {
  color: white;
  text-align: justify;
  margin: 10px 0;
  min-height: 300px;
}

.card-quienes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 400px;
  box-shadow: 0 0 10px rgb(153, 195, 1);
}
.card-quienes img {
  max-width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
}
.card-quienes .quienes-text {
  margin-top: 20px;
  text-align: center;
}

/* Estilo centrado */
* {
  margin: 0;
  padding: 0;
}

/*-------------BODY-------------*/
body {
  background-color: black;
  flex-wrap: wrap;
}

h1, h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  color: green;
  flex-flow: row wrap;
}

h2 {
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
}

p {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(255, 255, 255);
  text-align: justify;
  justify-content: space-around;
}

/*-------------PRODUCTOS-------------*/
.container {
  display: flex;
  width: 100vw;
  height: 100%;
}
.container .section-productos {
  width: 100%;
  height: 100%;
}
.container .section-productos .card-productos {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 7rem;
  margin-top: 3rem;
}
.container .section-productos .card-productos .card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50%;
  padding: 2rem;
}
.container .section-productos .card-productos .card img {
  height: 50%;
  width: 100%;
  transition: 0.5s;
}
.container .section-productos .card-productos .card img:hover {
  transform: scale(1.1);
}
.container .section-productos .card-productos .imagenes-adicionales {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.container .section-productos .card-productos .imagenes-adicionales img {
  width: 60%;
}

.custom-shadow {
  box-shadow: 0 0 10px rgba(135, 225, 0, 0.782);
  background-color: black;
}
.custom-shadow p, .custom-shadow h5 {
  color: white;
}

/* ------ASESORAMIENTO------ */
.asesoramiento {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  text-align: left;
}
.asesoramiento h1 {
  color: white;
}
.asesoramiento img {
  height: 80px;
  width: 80px;
  margin-right: 20px;
}

.acordion-asesoramiento {
  color: black;
}

.card-text {
  color: black;
}

.row {
  width: 95%;
  margin: 0.5rem;
}

/*-------------INDEX-------------*/
.index-img {
  height: 300px;
  width: 1150px;
  margin-left: 175px;
}

.carousel-item {
  width: 70vw;
  height: 85vh;
  margin-left: 15vw;
}
.carousel-item img {
  border-radius: 20px;
}

/*-------------Cards index-------------*/
.cards-index {
  display: flex;
  justify-content: center;
}

.quienes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Estilo centrado */
/*-------------Media queries-------------*/
/* -----Mobile----- */
@media (max-width: 440px) {
  /* Section Index */
  .carousel-item {
    width: 100%;
    height: auto;
    margin-left: 0;
  }
  .cards-individuales {
    max-width: 100%;
    height: auto;
    margin: 10px;
    padding: 20px;
  }
  .cards-index {
    padding: 20px;
  }
  /* Header - navbar */
  .nav-bar ul {
    display: flex;
    justify-content: center;
  }
  .nav-bar ul .nav-link {
    font-size: 1rem;
    text-align: center;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  header img {
    margin-left: 4.5rem;
  }
  .w-75 {
    width: 100% !important;
    border-radius: 0 !important;
  }
  /* Section Productos */
  .container {
    width: 100vw;
    justify-content: center;
    align-items: center;
  }
  .container .section-productos {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .container .section-productos .card-productos {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }
  .container .section-productos .card-productos .card {
    width: 100%;
    margin-bottom: 1rem;
    padding: 0;
  }
  .container .section-productos .card-productos .card img {
    width: 45%;
    height: auto;
  }
  .container .section-productos .card-productos .card .col-md-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  .container .section-productos .card-productos .imagenes-adicionales {
    display: none;
  }
  .asesoramiento {
    display: flex;
    align-items: center !important;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }
  .asesoramiento .icono-referencia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    padding: 1rem;
  }
  .asesoramiento .col-md-6 {
    display: flex;
    justify-content: center;
    align-items: center !important;
  }
  .asesoramiento .col-md-6 div {
    flex-direction: column;
    justify-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
