* {
    margin: 0;
    padding: 0;
}


/* -------------HEADER-------------*/

header {
    background-color: #212529;
    color: green;
    font-size: 30px;
}

header img {
    height: 100px;
    width: 350px;
    margin: 10px;
}

.nav-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 1s;
}

.nav-bar {
    background-color: #C8D300;
    text-align: center;
    margin-bottom: 20px;
    justify-content: center;
    padding: 10px;   
}




/*-------------BODY-------------*/


body {
    background-color: black;
    flex-wrap: wrap;
}



h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: green;
    flex-flow: row wrap;
}

h2 {
    font-size: 30px;
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    text-align: justify;
    justify-content: space-around;
}




/*-------------FOOTER-------------*/

footer {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    size: 10px  ;
    justify-content: center;
    gap: 20px ;
    display: flex;
    padding: 20px;
    margin-top: 20px;
}

.redes {
    color: white;
    text-decoration: none;
    margin-top: 60px;
}

.redes:hover {
    color: #0A58CA;
    transition: 1.5s;
}


/*-------------INDEX-------------*/
.index-img {
    height: 300px;
    width: 1150px;
    margin-left: 175px;
}

/* ----Carousel----- */
.carousel-item img {
    width: 50px;
    height: 600px;
}

.prueba-uno {
    display: flex;
    justify-content: center;
}

/* ----Cards index---- */
.prueba-dos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-width: 400px;
    box-shadow: 0 0 10px rgb(153, 195, 1);
    transition: transform 0.3s ease-in-out;
    height: 300px;
}

.prueba-dos:hover {
    transform: scale(1.05);
}

.prueba-dos h2 {
    color: white;
}

.prueba-dos p {
    color: white;
    text-align: justify;
}


/*-------------PRODUCTOS-------------*/

/* ---Efecto zoom--- */
.section-productos img {
    height: 200px;  
    width: auto;
    object-fit: cover;  
    transition: transform 0.3s ease-in-out;
}

.section-productos img:hover {
    transform: scale(1.1);
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    color: white;
}

.custom-shadow {
    box-shadow: 0 0 10px rgba(135, 225, 0, 0.782);
    background-color: black;
}

.custom-shadow p{
    color: white;
}

.custom-shadow h5{
    color: white;
}



/*-------------QUIENES SOMOS-------------*/

.quienes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-quienes {
    display: flex;
    flex-direction: column; /* Asegura que los elementos dentro de la tarjeta se apilen verticalmente */
    align-items: center; /* Centra los elementos verticalmente */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd; /* Agrega un borde alrededor de cada tarjeta */
    border-radius: 10px; /* Redondea las esquinas de las tarjetas */
    max-width: 400px; /* Limita el ancho máximo de las tarjetas para un diseño más consistente */
    box-shadow: 0 0 10px rgb(153, 195, 1); /* Agrega una sombra sutil a las tarjetas */
}

.card-quienes img {
    max-width: 100%; /* Ajusta el tamaño máximo de las imágenes para que no se desborden de las tarjetas */
    height: 400px; /* Fija la altura de las imágenes */
    object-fit: cover; /* Mantiene la proporción y recorta la imagen para llenar el contenedor */
    border-radius: 8px; /* Redondea las esquinas de las imágenes */
}

.quienes-text {
    margin-top: 20px;
    text-align: center; /* Centra el texto dentro de la tarjeta */
}



/*-------------ASESORAMIENTO-------------*/

.asesoramiento {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    text-align: left;
}

.asesoramiento h1 {
    color: white;
}

.asesoramiento img {
    height: 80px;
    width: 80px;
    margin-right: 20px; 
}

/* ------CARDS-------- */


.card-text {
    color: black; 
}
  
.card-text ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
}
  
.card-text ul li {
    margin-bottom: 5px; /* Ajusta el espaciado entre los elementos de la lista */
}

.card-text ul li,
.card-subtitle {
    color: black; /* Cambia este valor al color negro (#000) */
}

.asesoramiento .row.row-cols-1.row-cols-md-3.g-4 {
    margin-top: 200px; /* Puedes ajustar este valor según la cantidad de espacio que desees */
}
  


/*-------------FORMULARIO-------------*/

.formulario {
    color: white;
}