@import "_mixin.scss";
/*-------------Media queries-------------*/

/* -----Mobile----- */
@media (max-width: 440px) {

    /* Section Index */
    .carousel-item {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .cards-individuales {
        max-width: 100%;
        height: auto;
        margin: 10px;
        padding: 20px;
    }

    .cards-index {
        padding: 20px;
    }

    /* Header - navbar */

    .nav-bar ul{
        display: flex;
        justify-content: center;
        .nav-link {
            font-size:1rem ;
            text-align: center;
        }  
    }

    header {
        @include centrar;
        flex-direction: column;
    }

    header img{
        margin-left: 4.5rem;
    }

    .w-75 {
        width: 100% !important;
        border-radius: 0 !important;
    }

    /* Section Productos */
    .container{
        width: 100vw;
        justify-content: center;
        align-items: center;
        .section-productos{
            width: 90%;
            justify-content: center;
            align-items: center;
            .card-productos {
                flex-direction: column;
                width: 100%;
                justify-content: center;
                align-items: center;
                margin-bottom: 0;
                .card {
                    width: 100%;
                    margin-bottom: 1rem;
                    padding: 0;

                    img {
                        width: 45%;
                        height: auto;
                    }
                    .col-md-4 {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 1rem;
                    }
                }
                .imagenes-adicionales {
                    display: none;
                }

            }
        }
    }

    .asesoramiento {
        display: flex;
        align-items: center !important;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        .icono-referencia {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 8rem;
            padding: 1rem;
        }
        .col-md-6 {
            display: flex;
            justify-content: center;
            align-items: center !important;
            div {
            flex-direction: column;
            justify-items: center;
            
            }
        }
    }
}