/*-------------Media queries-------------*/

/* -----Mobile----- */
@media (max-width: 440px) {
    .container{
        height: 100%;
    }

    .carousel-item {
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    .cards-individuales {
        max-width: 100%;
        height: auto;
        margin: 10px;
        padding: 20px;
    }

    .cards-index {
        padding: 20px;
    }

    .nav-bar ul li {
        font-size: 50%;

    }

    header {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img{
        margin-left: 4.5rem;
    }

    .w-75 {
        width: 100% !important;
        border-radius: 0 !important;
    }
}